# Logs
logs
*.log


dist

.DS_Store

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# parcel-bundler cache (https://parceljs.org/)
.cache

# Webpack
.webpack/

# Electron-Forge
out/

.parcel-cache
